@import "styles/variables.scss";

.summary {
    position: relative;

    .backgroundVege {
        margin-top: calc(-50px + -4vh);
        height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    .summaryList {
        padding: calc(35px + 4vh) 35px;
        @include flex($just: space-around, $dir: row);

        a {
            text-decoration: none;
            color: black;
            font-family: "PlayD-B";
            font-size: 2em;
        }
    }
}
