@import "styles/variables.scss";

.summary {
    position: relative;
    width: 100%;

    .backgroundVege {
        height: 200px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        border: 1px solid black;
        background-image: url(../../public/images/s/cherryS.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        width: 100%;
        height: 20vh;
        @include flex;
        font-family: "Ranade-B";
        font-size: 1.2em;
    }

    .summaryList {
        width: 100%;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 5vh 16vh 7vh 16vh 7vh 16vh 7vh 16vh 15vh;
        .link {
            width: 100%;
            position: relative;
            @include flex;
            grid-column: 2/3;
            a {
                width: 100%;
                position: relative;
                z-index: 2;
                text-decoration: none;
                color: $darkgreen;
                font-family: "Faviotte";
                font-size: 3.5em;
                cursor: pointer;
            }
            .svg {
                position: absolute;
                z-index: 0;
                width: 50%;
                svg {
                    width: 100%;
                    opacity: 0.7;
                }
            }
        }
        .one {
            grid-row: 2/3;
            .services {
                @include flex($align: flex-start);
                text-align: left;
            }
            .svg {
                right: -10vw;
            }
        }
        .two {
            grid-row: 4/5;
            .appointment {
                text-align: right;
            }
            .svg {
                left: -11vw;
            }
        }
        .three {
            grid-row: 6/7;
            .faq {
                text-align: left;
            }
            .svg {
                right: -8vw;
            }
        }
        .four {
            grid-row: 8/9;

            .contact {
                text-align: right;
            }
            .svg {
                left: -8vw;
            }
        }
    }
}
@media screen and (max-width: $extra-small) {
    .summary {
        .summaryList {
            grid-template-rows: 15vh 18vh 7vh 18vh 7vh 18vh 7vh 18vh 7vh;
            .link {
                a {
                    font-size: 2.8em;
                }
            }
        }
    }
}
@media screen and (min-width: $small) {
    .summary {
        h2 {
            height: 30vh;
        }
        .summaryList {
            grid-template-rows: 5vh 18vh 7vh 18vh 7vh 18vh 7vh 18vh 15vh;
            .link {
                a {
                    font-size: 4em;
                }
            }
            .one {
                .svg {
                    right: 0vw;
                }
            }
            .two {
                .svg {
                    left: 0vw;
                }
            }
            .three {
                .svg {
                    right: 5vw;
                }
            }
            .four {
                grid-row: 8/9;

                .contact {
                    text-align: right;
                }
                .svg {
                    left: 0vw;
                }
            }
        }
    }
}
@media screen and (min-width: $medium) {
    .summary {
        .backgroundVege {
            background-image: url(../../public/images/m/cherryM.png);
        }
        h2 {
            font-size: 1.5em;
            height: 20vh;
        }
        .summaryList {
            grid-template-rows: 5vh 17vh 7vh 17vh 7vh 17vh 7vh 17vh 5vh;
            .link {
                a {
                    font-size: 5.5em;
                }
                .svg {
                    width: 40%;
                }
            }
        }
    }
}
@media screen and (min-width: $large) {
    .summary {
        margin-top: -5vh;
        .backgroundVege {
            height: 250px;
            background-image: url(../../public/images/l/cherryL.png);
        }
        .summaryList {
            grid-template-rows: 18vh 15vh 8vh 15vh 8vh 15vh 8vh 15vh 18vh;
            .link {
                a {
                    font-size: 6.5em;
                }
            }
        }
    }
}
@media screen and (min-width: $large) and (min-height: $extra-large) {
    .summary {
        h2 {
            height: 20vh;
        }
        .summaryList {
            grid-template-rows: 5vh 15vh 8vh 15vh 8vh 15vh 8vh 15vh 5vh;
            .link {
                a {
                    font-size: 6.5em;
                }
            }
        }
    }
}
// Landscape ------------------------------
@media screen and (max-width: $extra-large) and (orientation: landscape) and (min-width: $small) {
    .summary {
        margin-top: 10vh;
        overflow: hidden;
        h2 {
            height: 35vh;
        }
        .backgroundVege {
            height: 200px;
        }
        .summaryList {
            grid-template-rows: 5vh 30vw 5vh 30vw 5vh 30vw 5vh 30vw 18vh;
            .link {
                a {
                    font-size: 6em;
                    max-width: 70%;
                }
                .svg {
                    width: 30%;
                }
            }
        }
    }
}
@media screen and (min-width: $large) and (min-height: $medium) and (orientation: landscape) {
    .summary {
        margin-top: 8vh;
    }
}
@media screen and (min-width: $extra-large) {
    .summary {
        .backgroundVege {
            height: 250px;
        }
        .summaryList {
            grid-template-rows: 18vh 30vh 8vh 30vh 8vh 30vh 8vh 30vh 18vh;
            .link {
                a {
                    font-size: 9em;
                }
                .svg {
                    width: 40%;
                }
            }
        }
    }
}
@media screen and (min-width: $ultra-large) {
    .summary {
        margin-top: -10vh;
        .summaryList {
            grid-template-columns: 15% 70% 15%;
            grid-template-rows: 18vh 30vh 10vh 30vh 10vh 30vh 10vh 30vh 18vh;
            .link {
                a {
                    font-size: 8em;
                    max-width: 70%;
                }
                .svg {
                    width: 30%;
                }
            }
        }
    }
}
