@import "styles/variables.scss";

.summary {
    position: relative;
    padding-bottom: 2vh;

    .backgroundVege {
        margin-top: calc(-50px + -4vh);
        height: 200px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        border: 1px solid black;
        background-image: url(../../public/images/bawl1.jpg);
        background-attachment: fixed; 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
    }

    .summaryList {
        padding: calc(35px + 4vh) 35px;
        @include flex($just: space-around, $dir: row);

        a {
            text-decoration: none;
            color: black;
            font-family: "PlayD-B";
            font-size: 2em;
        }
    }
}
