@import "styles/variables.scss";

.program {
    // overflow: hidden;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10vh 10vh 1fr 10vh 1fr;

    h2 {
        @include flex;
        font-family: "PlayD-B";
        font-size: 1.5em;
        color: $blue;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .first {
        grid-column: 2/3;
        grid-row: 3/4;
        > .containerLeft {
            background: url(../../public/images/coffeSnack.svg);
            background-attachment: fixed; 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            padding: 10%;
        }
    }
    .next {
        grid-column: 2/3;
        grid-row: 5/6;
        > .containerRight {
            // background: url(../../public/images/fruits.jpg);
            background: url(../../public/images/plate1.jpg);
            background-attachment: fixed; 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            padding: 10%;
        }
    }
    .appointment {
        display: grid;
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: 100%;
        height: 90vh;
        position: relative;

        .containerRight {
            grid-column: 1/2;
            grid-row: 1/2;
            background-color: transparent;
            position: relative;
            > h3 {
                right: 0;
            }
            > .glassEffect {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
        .containerLeft {
            grid-column: 3/4;
            grid-row: 1/2;
            position: relative;

            > h3 {
                left: 0;
            }
            > .glassEffect {
                grid-column: 3/4;
                grid-row: 1/2;
            }
        }
        .glassEffect {
            width: 90%;
            height: 95%;
            background-color: $yellow;
            background: rgb(254, 229, 174);
            background: linear-gradient(
                0deg,
                $background 45%,
                $darkbackground 100%
            );
            opacity: 0.8;
            position: absolute;
            z-index: 0;
            top: 2.5%;
            left: 5%;
        }
        .center {
            height: 100%;
            width: 100%;
            @include flex;
            position: relative;
            z-index: 1;
        }
    }
    h3 {
        position: sticky;
        top: 0;
        font-family: "PlayD-B";
        font-size: 3em;
        color: $blue;
    }
    h4 {
        position: relative;
        z-index: 1;
        font-family: "PlayD-B";
        font-size: 1.2em;
        color: $blue;
        text-align: center;
        padding-top: 5px;
    }

    p {
        font-family: "Lato-B";
        font-size: 1.6em;
        line-height: 1.1em;
        text-align: center;
        padding: 15px 20px;
    }
}
