@import "styles/variables.scss";

.faqMobile {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20vh auto;
    h2 {
        grid-column: 2/3;
        grid-row: 1/2;
        @include flex;
        font-family: "Ranade-B";
        font-size: 1.2em;
    }
    .container {
        grid-column: 2/3;
        grid-row: 2/3;
        @include flex;
        background-color: $cream;
        cursor: pointer;
        .question {
            @include flex;
            width: 80%;
            text-align: center;
            font-family: "PlayD-B";
            font-size: 2em;
            padding: 15px 0;
            line-height: 1.2em;
            
            &:nth-child(-n + 8) {
                border-bottom: 1px solid $darkgreen;
            }
        }
        .answer {
            @include flex;
            text-align: center;
            background: url(../../public/images/plante1.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            color: $cream;
            text-shadow: 4px 4px 2px $darkgreen;
            font-family: "Ranade-M";
            font-size: 1.2em;
            line-height: 1.4em;
        }
    }
}
@media screen and (min-width: $medium) {
    .faqMobile {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 30vh auto;
        h2 {
            font-size: 1.5em;
        }
        .container {
            .question {
                width: 75%;
                font-size: 2.5em;
            }
            .answer {
                padding: 30px;
                font-size: 1.4em;
            }
        }
    }
}
@media screen and (min-width: $large) {
    .faq {
        width: 100%;
        overflow: hidden;

        .title {
            font-family: "PlayD-B";
            font-size: 15em;
            color: $green;
            max-height: 240px;
            width: 215vw;
            text-shadow: 2px 2px 2px $darkgreen;
        }
        > div:nth-child(2) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;

            .questions {
                grid-column: 1/2;
                grid-row: 1/2;
                background-color: $cream;
                @include flex($align: flex-start);
                padding: 5vh 0;

                h3 {
                    font-family: "PlayD-B";
                    font-size: 2.3em;
                    line-height: 1.1em;
                    padding: 2vh 5vh;
                    cursor: pointer;
                }
                .questionSelected {
                    color: $green;
                }
            }
            .answer {
                grid-column: 2/3;
                grid-row: 1/2;
                background: url(../../public/images/plante1.jpg);
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                @include flex;

                h2 {
                    text-align: center;
                    width: 100px;
                    font-family: "Amatic";
                    font-size: 4em;
                    line-height: 0.8em;
                    position: absolute;
                    top: -25px;
                    right: 100px;
                    color: $green;
                }
                > .flower {
                    position: absolute;
                    top: -100px;
                    right: 50px;
                    padding: 0;
                    animation: 40s linear infinite rotation;

                    svg {
                        width: 200px;
                    }
                }
                .answerTxt {
                    background-color: $cream;
                    overflow: hidden;
                    @include flex;

                    p {
                        font-family: "Ranade-M";
                        font-size: 1.6em;
                        line-height: 1.2em;
                        text-align: center;
                        padding: 25px;
                    }
                }
            }
        }
    }
}
// Landscape -----------------------------
@media screen and (min-width: $large) and (max-height: $medium) and (orientation: landscape) {
    .faq {
        > div:nth-child(2) {
            grid-template-rows: 100vh;
            .questions {
                padding: 50px 0;
                @include flex(
                    $wrap: nowrap,
                    $just: space-between,
                    $align: flex-start
                );

                h3 {
                    font-size: 1.9em;
                    padding: 0 5vh;
                    &:hover {
                        color: $green;
                    }
                }
            }
            .answer {
                h2 {
                    top: 70px;
                }
                > .flower {
                    position: absolute;
                    z-index: 0;
                    top: 5px;
                    right: 50px;
                }
                .answerTxt {
                    position: relative;
                    z-index: 1;
                    p {
                        font-family: "Ranade-M";
                        font-size: 1.3em;
                        line-height: 1.2em;
                        text-align: center;
                        padding: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $ultra-large) {
    .faq {
        > div:nth-child(2) {
            .questions {
                min-height: 70vh;
                h3 {
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }
}

// Anim -----------------------------------------
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
