@import "styles/variables.scss";

.carousel {
    width: 100%;
    height: 100%;
    // @include flex;
    overflow: hidden;
    font-family: "Faviotte";
    font-size: 2em;
    color: $darkgreen;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30% 70%;

    .pagination {
        grid-column: 2/3;
        grid-row: 1/2;
        border-bottom: 1px solid $darkgreen;
        @include flex($dir: row, $wrap: nowrap, $align: flex-end);
        // width: 60%;
        // height: 30px;
        padding: 10px;
    }
    .container {
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        position: relative;
        @include flex($dir: row, $wrap: nowrap, $align: flex-start);

        .slides {
            position: absolute;
            top: 20%;
            height: 55px;
            width: 60vw;
            @include flex;
            .slide {
                cursor: pointer;
                @include flex;
                width: 100%;
                height: 100%;
                text-align: center;
                p {
                    background: transparent;
                }
            }
            .currentSlide {
                position: relative;
                .prev {
                    position: absolute;
                    left: -55vw;
                }
                .next {
                    position: absolute;
                    left: 55vw;
                }
                .prevX2 {
                    position: absolute;
                    left: -110vw;
                }
                .prevX3 {
                    position: absolute;
                    left: -165vw;
                }
                .prevX4 {
                    position: absolute;
                    left: -220vw;
                }
                .nextX2 {
                    position: absolute;
                    left: 110vw;
                }
                .nextX3 {
                    position: absolute;
                    left: 165vw;
                }
                .nextX4 {
                    position: absolute;
                    left: 220vw;
                }
            }
        }
    }
}
@media screen and (max-width: $extra-small) {
    .carousel {
        font-size: 1.7em;
        .container {
            .slides {
                width: 55vw;
            }
        }
    }
}
@media screen and (min-width: $small) {
    .carousel {
        font-size: 2.2em;
    }
}
@media screen and (min-width: $medium) {
    .carousel {
        font-size: 3.5em;
        grid-template-rows: 40% 60%;
        .pagination {
            // width: 50%;
            // height: 50px;
            padding: 15px;
        }
        .container {
            // height: 170px;
            .slides {
                top: 40%;
                width: 55vw;
            }
        }
    }
}
// Landscape -------------------------------------------------------
@media screen and (max-width: $small) and (orientation: landscape) {
    .carousel {
        .pagination {
            padding: 15px;
        }
        .container {
            .slides {
                font-size: 0.9em;
                width: 60vw;
            }
        }
    }
}
@media screen and (min-width: $medium) and (orientation: landscape) {
    .carousel {
        .container {
            .slides {
                font-size: 0.8em;
            }
        }
    }
}
@media screen and (min-width: $large) and (max-width: $extra-large) and (orientation: landscape) {
    .carousel {
        font-size: 3.2em;
        .container {
            .slides {
                top: 30%;
                width: 40vw;
            }
        }
    }
}
