@import "styles/variables.scss";

.footer {
    @include flex($just: space-between);
    height: 15vh;
    background-color: $darkbackground;
    padding: 25px;
    font-family: "Lato-M";
    font-size: 1.2em;
    color: $background;
    .network{
        width: 25%;
        @include flex($just: space-between, $dir: row);
        .facebook {
            width: 25px;
            cursor: pointer;
        }
        .instagram {
            padding-top: 5px ;
            width: 40px;
            cursor: pointer;
        }
        .linkedin {
            
            width: 40px;
            cursor: pointer;
        }
    }
    >div:last-child {
        width: 100%;
        @include flex($just: space-between, $dir: row);
        >div:first-child {

        }
        >div:last-child {
            @include flex($dir: row);
            p {

            }
            .dubLinkedIn {
                width: 25px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
}