@import "styles/variables.scss";

.footer {
    @include flex($just: space-between);
    height: 22vh;
    background-color: $darkbackground;
    padding: 35px;
    font-family: "Lato-M";
    font-size: 1.2em;
    color: $background;
    position: relative;
    .network{
        padding-top: 40px;
        width: 35%;
        @include flex($just: space-between, $dir: row);
        .facebook {
            width: 30px;
            cursor: pointer;
        }
        .instagram {
            padding-top: 5px ;
            width: 55px;
            cursor: pointer;
        }
        .linkedin {
            
            width: 55px;
            cursor: pointer;
        }
    }
    .txt {
        width: 100%;
        @include flex($align: flex-end,$just: space-between, $dir: row);
        >div:first-child {
            width: 45%;
        }
        >div:last-child {
            @include flex($dir: row);
            p {

            }
            .dubLinkedIn {
                width: 25px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
}