@import "styles/variables.scss";

.contact {
    position: relative;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20vh 25vh 20vh;
    h2 {
        grid-column: 2/3;
        grid-row: 1/2;
        font-family: "Ranade-B";
        font-size: 1.2em;
        @include flex;
    }
    .contactLink {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        font-family: "Ranade-M";
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;

        .mobilePhone {
            grid-row: 1/2;
            @include flex;
            .txt {
                font-size: 1em;
            }
        }
        .mail {
            grid-row: 2/3;
            @include flex;
            a {
                text-decoration: none;
                color: black;
            }
        }
        .icon {
            text-decoration: none;
            font-size: 3em;
            padding-bottom: 10px;
            color: $darkgreen;
        }
        .txt {
            font-size: 1em;
        }
    }
    .borderFooter {
        grid-column: 1/4;
        grid-row: 3/4;
        width: 100%;
        @include flex($just: flex-end);
        height: auto;
        bottom: -3px;
        background-color: transparent;
    }
}

@media screen and (max-width: $extra-small) {
    .contact {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 30vh 35vh 20vh;
    }
}
@media screen and (max-width: $extra-small) and (min-height: $small) {
    .contact {
        grid-template-rows: 20vh 30vh 20vh;
        .contactLink {
            .txt {
                font-size: 0.8em;
            }
        }
    }
}
@media screen and (min-width: $medium) {
    .contact {
        grid-template-rows: 25vh 30vh 20vh;
        h2 {
            font-size: 1.5em;
        }
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 2em;
                }
            }
            .icon {
                font-size: 4em;
                padding-bottom: 20px;
            }
            .txt {
                font-size: 2em;
            }
        }
    }
}
@media screen and (min-width: $large) {
    .contact {
        grid-template-rows: 30vh 20vh 25vh;
        h2 {
            font-size: 1.5em;
        }
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 2em;
                }
            }
            .icon {
                font-size: 4em;
                padding-bottom: 20px;
            }
            .txt {
                font-size: 2em;
            }
        }
    }
}
// Landscape -----------------------------
@media screen and (max-width: $small) and (orientation: landscape) {
    .contact {
        grid-template-rows: 40vh 50vh 40vh;
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 1.5em;
                }
            }
            .icon {
                font-size: 2em;
                padding-bottom: 10px;
            }
            .txt {
                font-size: 1em;
            }
        }
    }
}
@media screen and (min-width: $small) and (orientation: landscape) {
    .contact {
        grid-template-rows: 40vh 55vh 40vh;
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 1.5em;
                }
            }
            .icon {
                font-size: 3em;
                padding-bottom: 10px;
            }
            .txt {
                font-size: 1em;
            }
        }
    }
}
@media screen and (min-width: $small) and (max-height: $extra-small) and (orientation: landscape) {
    .contact {
        grid-template-rows: 50vh 60vh 40vh;
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 1.5em;
                }
            }
            .icon {
                font-size: 2em;
                padding-bottom: 10px;
            }
            .txt {
                font-size: 1em;
            }
        }
    }
}
@media screen and (min-width: $small) and (min-height: $small) and (orientation: landscape) {
    .contact {
        grid-template-rows: 30vh 40vh 30vh;
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 1.5em;
                }
            }
            .icon {
                font-size: 3em;
                padding-bottom: 10px;
            }
            .txt {
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (min-width: $large) and (orientation: landscape) {
    .contact {
        grid-template-rows: 30vh 45vh 25vh;
        .contactLink {
            .mobilePhone {
                .txt {
                    font-size: 2em;
                }
            }
            .icon {
                font-size: 4.5em;
                padding-bottom: 20px;
            }
            .txt {
                font-size: 2em;
            }
        }
    }
}
@media screen and (min-width: $extra-large) and (orientation: landscape) {
    .contact {
        grid-template-rows: 30vh 40vh 30vh;
    }
}
@media screen and (min-width: $extra-large) and (min-height: $large) and (orientation: landscape) {
    .contact {
        grid-template-rows: 30vh 30vh 30vh;
    }
}
