@import "styles/variables.scss";

.services {
    @include flex;
    overflow: hidden;
    height: auto;
    h2 {
        font-family: "Ranade-B";
        margin: 5vh 0;
        font-size: 1.2em;
    }
    .containerMobile {
        margin-top: 5vh;
        width: 100%;
        position: relative;
        @include flex;

        .desc {
            width: 70%;
            height: 20vh;
            padding-bottom: 20px;
            font-family: "Ranade";
            font-size: 2em;
            text-align: center;
            @include flex;
        }
        .illustration {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 5vh;
            svg {
                height: 100%;
            }
        }
    }
}
// .services {
//     @include flex;
//     overflow: hidden;
//     h2 {
//         font-family: "Ranade-M";
//         margin: 5vh 0;
//         font-size: 1.2em;
//     }
//     > div {
//         position: relative;
//         width: 100%;
//         min-height: 50vh;
//         @include flex;
//         h3 {
//             width: 60vw;
//             font-family: "PlayD-M";
//             font-size: 4em;
//             margin-bottom: 15px;
//             color: $darkbackground;
//             text-align: center;
//             line-height: 0.95em;
//         }
//         .serviceSelected {
//             color: $darkgreen;
//         }
//         p {
//             font-family: "Ranade";
//             font-size: 1.8em;
//             width: 17vw;
//             height: 100%;
//             text-align: center;
//             @include flex;
//             position: absolute;
//             top:0;
//         }
//         .illustration {
//             position: absolute;
//             @include flex;
//             width: 17vw;
//             height: 100%;
//             top: 0;
//             svg {
//                 border-radius: 10px;
//             }
//         }
//         .left {
//             left: 3.5vw;
//         }
//         .right {
//             right: 3.5vw;
//         }
//         .illuVertical {
//             position: absolute;
//             width: 19vw;
//             top: 6vh;
//             svg {
//                 border-radius: 10px;
//             }
//         }
//     }
// }

@media screen and (max-width: $extra-small) {
    .services {
        h2 {
            margin: 10vh 0;
        }
        .containerMobile {
            .desc {
                font-size: 1.5em;
            }
            .illustration {
                width: 120px;
                height: 120px;
            }
        }
    }
}
@media screen and (min-width: $medium) {
    .services {
        h2 {
            margin: 5vh 0;
            font-size: 1.5em;
        }
        .containerMobile {
            .desc {
                width: 60%;
                font-size: 2.5em;
            }
            .illustration {
                width: 20vh;
                height: 20vh;
            }
        }
    }
}
@media screen and (max-width: $extra-large) and (orientation: landscape) {
    .services {
        @include flex($just: space-between, $wrap: nowrap);
        height: 100vh;
        h2 {
            font-family: "Ranade-B";
            margin: 0;
            font-size: 1.5em;
            height: 10vh;
            @include flex;
        }
        .containerMobile {
            height: 60vh;
            margin: 0;
            @include flex;
            .desc {
                width: 50%;
                height: 15vh;
                font-size: 2em;
            }
            .illustration {
                width: 170px;
                height: 170px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 5vh;
                svg {
                    height: 100%;
                }
            }
        }
    }
}
@media screen and (min-width: $extra-large) {
    .services {
        min-height: 100vh;
        h2 {
            margin-bottom: 10vh;
        }
        .containerDesktop {
            position: relative;
            width: 100%;
            min-height: 60vh;
            @include flex($wrap: nowrap);
            margin-bottom: 5vh;
            h3 {
                width: 50%;
                font-family: "PlayD-M";
                font-size: 5em;
                margin-bottom: 30px;
                color: $darkbackground;
                text-align: center;
                line-height: 0.95em;
                cursor: pointer;
            }
            .serviceSelected {
                color: $darkgreen;
            }
            p {
                font-family: "Ranade";
                font-size: 2.3em;
                width: 17vw;
                height: 100%;
                text-align: center;
                @include flex;
                position: absolute;
                top: 0;
            }
            .illustration {
                position: absolute;
                @include flex;
                width: 18vw;
                height: 100%;
                top: 0;
                svg {
                    border-radius: 20px;
                }
            }
            .left {
                left: 3.5vw;
            }
            .right {
                right: 3.5vw;
            }
        }
    }
}
@media screen and (min-width: $ultra-large) {
    .services {
        .containerDesktop {
            .serviceSelected {
                color: $darkgreen;
            }
            p {
                width: 13vw;
            }
            .illustration {
                width: 13vw;
            }
        }
    }
}
