@import "styles/variables.scss";

.services {
    @include flex;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 50vh 30vh;
    h2 {
        grid-row: 1/2;
        width: 100%;
        font-family: "Ranade-B";
        font-size: 1.2em;
        @include flex;
    }
    .containerMobile {
        grid-row: 2/3;
        width: 100%;
        @include flex;

        .desc {
            width: 70%;
            height: 20vh;
            padding-bottom: 20px;
            font-family: "Ranade";
            font-size: 2em;
            text-align: center;
            @include flex;
        }
        .illustration {
            width: 170px;
            height: 170px;
            overflow: hidden;
            .image {
                border-radius: 10%;
            }
        }
    }
    .carousel {
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: $extra-small) {
    .services {
        .containerMobile {
            .desc {
                font-size: 1.5em;
            }
            .illustration {
                width: 120px;
                height: 120px;
            }
        }
    }
}
@media screen and (min-width: $medium) {
    .services {
        h2 {
            font-size: 1.5em;
        }
        .containerMobile {
            .desc {
                width: 60%;
                font-size: 2.5em;
            }
            .illustration {
                width: 25vh;
                height: 25vh;
            }
        }
    }
}
@media screen and (min-height: $extra-large) and (orientation: portrait) {
    .services {
        min-height: 50vh;
    }
}
// Landscape -------------------------------------------------------
@media screen and (max-width: $small) and (orientation: landscape) {
    .services {
        grid-template-rows: 30vh 65vh 50vh;
        .containerMobile {
            .desc {
                font-size: 1.5em;
            }
            .illustration {
                width: 100px;
                height: 100px;
            }
        }
    }
}
@media screen and (min-width: $small) and (max-height: $extra-small) and (orientation: landscape) {
    .services {
        grid-template-rows: 30vh 80vh 50vh;
        .containerMobile {
            .desc {
                font-size: 1.5em;
            }
            .illustration {
                width: 120px;
                height: 120px;
            }
        }
    }
}
@media screen and (min-width: $small) and (min-height: $extra-small) and (orientation: landscape) {
    .services {
        grid-template-rows: 50vh 55vh 50vh;
    }
}
@media screen and (min-width: $small) and (min-height: $small) and (orientation: landscape) {
    .services {
        grid-template-rows: 30vh 60vh 30vh;
    }
}
@media screen and (min-width: $medium) and (orientation: landscape) {
    .services {
        grid-template-rows: 30vh 65vh 40vh;
        .containerMobile {
            .desc {
                font-size: 1.7em;
            }
            .illustration {
                width: 150px;
                height: 150px;
            }
        }
    }
}
@media screen and (min-width: $large) and (orientation: landscape) {
    .services {
        grid-template-rows: 20vh 60vh 30vh;
        h2 {
            font-family: "Ranade-B";
            font-size: 1.5em;
            @include flex;
        }
        .containerMobile {
            @include flex;
            .desc {
                width: 50%;
                font-size: 2em;
            }
            .illustration {
                width: 190px;
                height: 190px;
            }
        }
    }
}
@media screen and (min-width: $extra-large) {
    .services {
        grid-template-rows: 20vh 80vh;
        .containerDesktop {
            grid-row: 2/3;
            position: relative;
            width: 100%;
            @include flex($wrap: nowrap);
            h3 {
                width: 50%;
                font-family: "PlayD-M";
                font-size: 5em;
                margin-bottom: 30px;
                color: $darkbackground;
                text-align: center;
                line-height: 0.95em;
                cursor: pointer;
            }
            .serviceSelected {
                color: $darkgreen;
            }
            p {
                font-family: "Ranade";
                font-size: 2.3em;
                width: 17vw;
                height: 100%;
                text-align: center;
                @include flex;
                position: absolute;
                top: 0;
            }
            .illustration {
                position: absolute;
                @include flex;
                width: 18vw;
                height: 50%;
                top: 25%;
                border-radius: 20px;
                .image {
                    border-radius: 20px;
                }
            }
            .left {
                left: 3.5vw;
            }
            .right {
                right: 3.5vw;
            }
        }
    }
}
@media screen and (min-width: $ultra-large) {
    .services {
        .containerDesktop {
            .serviceSelected {
                color: $darkgreen;
            }
            p {
                width: 13vw;
            }
            .illustration {
                width: 13vw;
            }
        }
    }
}
