@import "styles/variables.scss";

.presentation {
    // height: 90vh;
    @include flex;
    padding: 0 calc(10% - 10px);

    h2 {
        font-family: "Ranade-B";
        font-size: 1.2em;
        margin-bottom: 8vh;
        color: $darkgreen;
    }
    .txtimage {
        .background {
            flex: 2;
            padding: 15px;
            height: 90vh;
            overflow: scroll;
            background-color: $greentea;
            border-radius: 20px;
            // padding-top: 100vh;

            p {
                font-family: "Ranade";
                font-size: 1.5em;
                line-height: 1.1em;
                text-align: center;
                padding-bottom: 2vh;
                // padding: 0 5px 2vh 5px;
                &:last-child {
                    font-family: "PlayD";
                    font-size: 3em;
                    margin-top: 10px;
                    color: $darkgreen;
                }
            }
        }
        .illustration {
            flex: 1;
            height: 90vh;
            position: relative;
            bottom: 0;
            // border-top: 1px solid black;
            // border-left: 1px solid black;
            background: url(../svgs/healthyplate.svg);
            background-size: cover;
        }
    }
}
