@import "styles/variables.scss";

.presentation {
    // height: 90vh;
    @include flex;
    
    h2 {
        font-family: "Ranade-M";
        font-size: 1.2em;
        margin-bottom: 8vh;
        color: $blue;
    }
    .txtimage {

        @include flex($just: space-between, $dir: row);
        .background {
            @include flex;
            flex: 2;
            padding: 65px 15%;
            // max-height: 90vh;
            
            p {
                font-family: "Ranade";
                font-size: 1.5em;
                line-height: 1.1em;
                text-align: center;
                &:last-child {
                    font-family: "PlayD";
                    font-size: 1.8em;
                    margin-top: 10px;
                    color: $blue;
                }
            }
        }
        .illustration {
            flex: 1;
            height: 90vh;
            position: relative;
            bottom: 0;
            // border-top: 1px solid black;
            // border-left: 1px solid black;
            background: url(../svgs/healthyplate.svg);
            background-size: cover;
        }
    }
}
