// Reset ------------------------------
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Fonts -----------------------
@font-face {
  font-family: "PlayD";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "PlayD-M";
  src: url(./fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: "PlayD-B";
  src: url(./fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-M";
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-B";
  src: url(./fonts/Lato-Bold.ttf);
}