$greentea: #E8EFE9;
$flashygreen: #629677;
$orange: #EF8354;
$purple: #9C7A97;

$darkbackground: #b3b3b5;
$yellow: #FFD782;
$yellowlight: #fee5ae;

$background: #E8EFE9;
$cream: #FCF3F3;
$brown: #a77464ff;
$darkgreen: #143642ff;

// Mixin -----------------------
@mixin flex ($just: center, $align: center, $dir:column, $wrap: wrap)  
{
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
    flex-wrap: $wrap;    
}

// Media queries breakpoints ----
$extra-small: 320px;
$small: 500px;
$medium: 768px;
$large: 992px;
$extra-large: 1280px;
$ultra-large: 1800px;