$greentea: #e8efe9;
$green: #527649;
$orange: #ef8354;
$purple: #9c7a97;

$darkbackground: #585865;
$yellow: #ffd782;
$yellowlight: #fee5ae;

$background: #e8efe9;
$cream: #fcf3f3;
$brown: rgb(175, 122, 105);
$darkgreen: #143642ff;

// Mixin -----------------------
@mixin flex($just: center, $align: center, $dir: column, $wrap: wrap) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

// Media queries breakpoints ----
$extra-small: 320px;
$small: 500px;
$medium: 769px;
$large: 992px;
$extra-large: 1280px;
$ultra-large: 1800px;
