$greentea: #E8EFE9;
$darkgreen: #303633;
$flashygreen: #629677;
$orange: #EF8354;
$purple: #9C7A97;

// Mixin -----------------------
@mixin flex ($just: center, $align: center, $dir:column, $wrap: wrap)  
{
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
    flex-wrap: $wrap;    
}

// Media queries breakpoints ----
$extra-small: 320px;
$small: 500px;
$medium: 768px;
$large: 992px;
$extra-large: 1280px;
$ultra-wide: 1800px;